.elements__list{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(282px, 1fr));
  grid-gap:17px;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-items: center;
}
@media (max-width: 620px){
  .elements__list{
    grid-gap:20px;
  }
}
